body {
  overflow: hidden;
}

.colour {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.grid {
  display: grid;
  margin: 10px;
  /* width: 37.5rem; */
  height: 37.5rem;
}

.border-1rem {
  border-radius: 1rem;
}

.btn.active {
  background-color: brown;
  border: 1px solid brown;
  color: white;
}

.colour-circle {
  display: block;
  background-color: rgb(240, 248, 255);
  width: 5rem;
  height: 5rem;
  border-radius: 50% !important;
  cursor: pointer;
  z-index: 9 !important;
}
.colour-circle:hover {
  scale: 1.05;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.bi-github {
  font-size: 2rem;
}
.bi-github:hover {
  animation: puff-in 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
