.colour {
  display: none;
}
.grid {
  display: grid;
  margin: 10px;
  width: 500px;
  height: 500px;
}

.border-1rem {
  border-radius: 1rem;
}
.reset {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}
.reset:active {
  background-color: rgba(128, 128, 128, 0.062);
  color: rgb(0, 0, 0);
}

.colour-circle {
  display: block;
  background-color: rgb(240, 248, 255);
  width: 5rem;
  height: 5rem;
  border-radius: 50% !important;
  cursor: pointer;
}
.colour-circle:hover {
  scale: 1.05;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
